@{
    Layout = null;
}

@if (ViewBag.contactsRole == null)
{
    <p> There are no Contacts currently attached to this Trial.</p>
}
else
{
    <table class="table table-bordered table-striped dataTable">
        <thead>
        <tr>
            <th>Contact Name</th>
            <th>Organisation</th>
            <th>Email Address</th>
            <th>Telephone</th>
            <th>Trial Role</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var contact in ViewBag.contactsRole)
            {
                <tr>
                    <td><a href="/Contacts/Edit/@contact.ContactName.Id">@contact.ContactName.ContactName</a></td>
                    <td>@contact.ContactName.Organisation</td>
                    <td><a href="mailto:@contact.ContactName.Email">@contact.ContactName.Email</a></td>
                    <td>@contact.ContactName.Telephone</td>
                    <td>@contact.RoleName.RoleName</td>
                </tr>
            }
        </tbody>
    </table>
}
