@model Trialmanager.Models.TrialFeasibilityModels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>TrialFeasibilityModels</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DiseaseTherapyAreaName.DiseaseTherapyAreaName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DiseaseTherapyAreaName.DiseaseTherapyAreaName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GrantTypeName.GrantTypeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GrantTypeName.GrantTypeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PhaseName.PhaseName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PhaseName.PhaseName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TrialTypeName.TrialTypeName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TrialTypeName.TrialTypeName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TrialId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TrialId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationReference)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ApplicationReference)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BhNumber)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BhNumber)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Commercial)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Commercial)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SampleSize)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SampleSize)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FundingStream)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FundingStream)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GrantDeadlineDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GrantDeadlineDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UniConsultancyAgreement)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UniConsultancyAgreement)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NhsConsultancyAgreement)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NhsConsultancyAgreement)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
