@using System.Activities.Expressions
@using System.Web.Mvc.Html
@using System.Web.UI.WebControls
@using Trialmanager.Controllers
@using Trialmanager.Models
@model TrialFeasibilityModels

@{
    ViewBag.Today = DateTime.Today;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                @ViewBag.Title
                <small>@ViewBag.Small</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/Home/Index">
                        <i class="fa fa-dashboard"></i>@ViewBag.link
                    </a>
                </li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-7 col-sm-8">

                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab1" data-toggle="tab">Feasibility</a>
                            </li>
                            <li>
                                <a href="#tab2" data-toggle="tab">Setup</a>
                            </li>
                            <li>
                                <a href="#tab3" data-toggle="tab">Late Development</a>
                            </li>
                            <li>
                                <a href="#tab4" data-toggle="tab">Milestones</a>
                            </li>
                            <li>
                                <a href="#tab5" data-toggle="tab">Follow Up</a>
                            </li>
                            <li>
                                <a href="#tab6" data-toggle="tab">Documents</a>
                            </li>
                            <li>
                                <a href="#tab7" data-toggle="tab">Trial Records</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="box box-solid box-primary">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Add a New Trial</h3>
                                        <div class="box-tools pull-right">
                                            <!-- Buttons, labels, and many other things can be placed here! -->
                                            <!-- Here is a label for example -->
                                            <span class="label label-default">Creating New Trial...</span>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="col-md-12">
                                            @using (Html.BeginForm())
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="form-horizontal">
                                                    <h4>TrialFeasibilityModels</h4>
                                                    <hr />
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.Id)

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.ShortName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Enter Trial Short Name", disabled = "disabled" } })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        @Html.TextAreaFor(model => model.TrialTitle, new { @class = "form-control", Rows = 4, PlaceHolder = "Full Trial title" })
                                                        @Html.ValidationMessageFor(model => model.TrialTitle, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.ApplicationReference, new { htmlAttributes = new { @class = "form-control", title = "Application Reference", disabled = "disabled" } })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.ApplicationReference, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.BhNumber, new { htmlAttributes = new { @class = "form-control", Title = "BH Number", disabled = "disabled" } })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.BhNumber, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.DropDownList("TrialTypeId", null, htmlAttributes: new { @class = "form-control", Title = "Trial types", disabled = "disabled" })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.TrialTypeId, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            @Html.RadioButtonFor(model => model.Commercial, "Commercial") Commercial
                                                            @Html.RadioButtonFor(model => model.Commercial, "Non-Commercial") Non-Commercial
                                                            @Html.ValidationMessageFor(model => model.Commercial, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.DropDownList("PhaseId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.PhaseId, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.SampleSize, new { htmlAttributes = new { @class = "form-control", title = "Sample Size", disabled = "disabled" } })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.SampleSize, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.DropDownList("GrantTypeId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.GrantTypeId, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.FundingStream, new { htmlAttributes = new { @class = "form-control", Title = "Funding Stream", disabled = "disabled" } })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.FundingStream, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.EditorFor(model => model.GrantDeadlineDate, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                                            <div class="input-group-addon">
                                                                <a href="#" data-toggle="modal" data-target="#modal-default1">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.GrantDeadlineDate, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            @Html.CheckBoxFor(model => model.UniConsultancyAgreement) Uni Consultancy Agreement
                                                            @Html.ValidationMessageFor(model => model.UniConsultancyAgreement, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="checkbox">
                                                            @Html.CheckBoxFor(model => model.NhsConsultancyAgreement) NHS Consultancy Agreement
                                                            @Html.ValidationMessageFor(model => model.NhsConsultancyAgreement, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            @Html.DropDownList("DiseaseTherapyAreaId", null, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                                                            <div class="input-group-addon">
                                                                <a href="#">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.DiseaseTherapyAreaId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div><!-- /.box-body -->
                                    <!-- /.box -->
                                </div>
                                @if (ViewBag.progress == null)
                                {
                                    <div class="box-footer">
                                        <!--Use this to keep the data last typed in a cookie so that it can be saved properly later-->
                                        <div class="input-group">
                                            <div class="col-md-12">
                                                <label class="input-group">Trial Progress</label>
                                            </div>
                                            <div class="checkbox">
                                                @Html.RadioButton("StartedTrial", "Yes") Trial Started
                                                @Html.RadioButton("StartedTrial", "No") Trial didn't Start

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="label">Reason Trial did not Start</label>
                                            </div>
                                            @Html.TextArea("Reason", new { @class = "form-control", Rows = 4, PlaceHolder = "Enter the reason the Trial did not start" })
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-default btn-block" id="saveTrial">Save Trial Progress</button>
                                        </div>
                                    </div>
                                    <!-- box-footer -->
                                }
                                else
                                {
                                    foreach (var item in ViewBag.progress)
                                    {
                                        <div class="box-footer">
                                            <!--Use this to keep the data last typed in a cookie so that it can be saved properly later-->
                                            <div class="input-group">
                                                <div class="col-md-12">
                                                    <label class="input-group">Trial Progress</label>
                                                </div>
                                                <div class="checkbox">
                                                    @if (item.Started == "Yes")
                                                    {
                                                        @Html.RadioButton("StartedTrial", "Yes", new { @checked = "checked"} )
                                                        @Html.Label("Trial Started")
                                                        @Html.RadioButton("StartedTrial","No")
                                                        @Html.Label("Trial didn't Start ")
                                                    }
                                                    else
                                                    {
                                                        @Html.RadioButton("StartedTrial", "Yes") 
                                                        @Html.Label("Trial Started")
                                                        @Html.RadioButton("StartedTrial", "No", new { @checked = "checked"}) 
                                                        @Html.Label("Trial didn't Start")
                                                    }


                                                </div>
                                            </div>
                                            @if (item.Started == "No")
                                            {
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label class="label">Reason Trial did not Start</label>
                                                    </div>
                                                    <textarea class="form-control" rows="4">@item.Reason</textarea>
                                                </div>
                                            }
                                            
                                        </div>
                                    <!-- box-footer -->
                                    }

                                }
                            </div>

                            <div class="tab-pane" id="tab2">
                                <p>@{ Html.RenderAction("ShowSetup", new { Id = ViewBag.Id }); }</p>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <p>Tab3</p>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <p>tab4</p>
                            </div>
                            <div class="tab-pane" id="tab5">
                                <p>tab4</p>
                            </div>
                        <div class="tab-pane" id="tab6">
                            <div id="ListOfDocuments">
                                <p>@{ Html.RenderAction("ShowDocuments", new { Id = ViewBag.Id }); }</p>
                            </div>
                            <section class="content container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-solid box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">Add New Document</h3>
                                                <div class="box-tools pull-right">
                                                    <!-- Buttons, labels, and many other things can be placed here! -->
                                                    <!-- Here is a label for example -->
                                                    <span class="label label-default">Adding a document...</span>
                                                </div>
                                                <!-- /.box-tools -->
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">

                                                <div class="form-horizontal">
                                                    <h4>Add a Document</h4>
                                                    <hr />
                                                    @using (Html.BeginForm("AddDocument","TrialFeasibility", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                    {
                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <label class="control-label">Link to the File</label>
                                                            </div>
                                                            
                                                            <div class="col-md-12">
                                                                @Html.Editor("UploadFile", new {htmlAttributes = new {@class = "form-control", Type = "File"}})
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <Label class="control-label">File Version</Label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                @Html.Editor("DocumentVersion", new { htmlAttributes = new { @class = "form-control", PlaceHolder = "File Version" } })
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                                <div class="col-md-2">
                                                                    <label class="control-label">Document Type</label>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.DropDownList("DocumentType", new SelectList(ViewBag.DocumentTypes, "Id", "TypeName"), null, htmlAttributes: new { @class = "form-control" })
                                                                </div>
                                                            </div>

                                                        <div class="form-group">
                                                            <div class="col-md-2">
                                                                <label class="control-label">Description</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                @Html.TextArea("DocumentDescription", new {@class = "form-control", @Rows = 4, PlaceHolder = "Add a description for the document"})
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="TrialId" id="TrialId" value="@ViewBag.Id"/>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="submit" class="btn btn-default btn-block" value="Upload a Document">
                                                            </div>
                                                        </div>
                                                    }
                                                    
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                </div>
                            </section>
                        </div>
                            <div class="tab-pane" id="tab7">
                                <p>@{ Html.RenderAction("listAddedRecords", new {Id = ViewBag.Id}); }</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="box box-solid box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Trial Contacts</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div id="ListOfContacts">
                                    @if (ViewBag.contactsRole == null)
                                    {
                                        <p> There are no Contacts currently attached to this Trial.</p>
                                    }
                                    else
                                    {
                                        <table id="contacts" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Contact Name</th>
                                                <th>Organisation</th>
                                                <th>Email Address</th>
                                                <th>Telephone</th>
                                                <th>Trial Role</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var contact in ViewBag.contactsRole)
                                        {
                                                <tr>
                                                    <td><a href="/Contacts/Edit/@contact.ContactName.Id">@contact.ContactName.ContactName</a></td>
                                                    <td>@contact.ContactName.Organisation</td>
                                                    <td><a href="mailto:@contact.ContactName.Email">@contact.ContactName.Email</a></td>
                                                    <td>@contact.ContactName.Telephone</td>
                                                    <td>@contact.RoleName.RoleName</td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                
                                <div class="input-group">
                                    <div class="col-md-6">
                                        <label>Contact List</label>
                                        @Html.DropDownList("Contacts", new SelectList(ViewBag.Contacts, "Id", "ContactName"), null, htmlAttributes: new {@class = "form-control", id = "ContactSel"})
                                    </div>
                                    <div class="col-md-6">
                                        <label>Role List</label>
                                        @Html.DropDownList("Roles", new SelectList(ViewBag.Roles, "Id", "RoleName"), null, htmlAttributes: new {@class = "form-control", id = "RoleSel"})
                                    </div>
                                </div>
                            </div>
                                <button id="AddContact" type="button" class="btn btn-default btn-block">Add Contact to this Trial</button>

                        </div>
                        <!-- box-footer -->
                    </div>
                    <div class="box box-solid box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Trial Notifications</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div id="ListOfNotes">
                                    @if (ViewBag.notifications == null)
                                    {
                                        <p> There are no Notifications currently attached to this Trial.</p>
                                    }
                                    else
                                    {
                                        <table id="notifications" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Date\Time</th>
                                                <th>Who</th>
                                                <th>Notification</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var note in ViewBag.notifications)
                                            {
                                                <tr>
                                                    <td>@note.DateTime</td>
                                                    <td>@note.Who</td>
                                                    <td>@note.Message</td>
                                                </tr>
                                            }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <label for="Notification">Notification</label>
                                @Html.TextArea("Notification", new { @class = "form-control", id = "message", @Rows = 4, PlaceHolder = "Add a note to the Trial" })
                            </div>
                            <button id="AddNotification" type="button" class="btn btn-default btn-block">Add Note to this Trial</button>

                        </div>
                        <!-- box-footer -->
                    </div>
                    <div class="box box-solid box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Trial Reminders</h3>
                            <div class="box-tools pull-right">
                                <!-- Buttons, labels, and many other things can be placed here! -->
                                <!-- Here is a label for example -->
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="col-md-12">
                                <div id="ListOfReminders">
                                    @if (ViewBag.reminders == null)
                                    {
                                        <p> There are no Reminders currently attached to this Trial.</p>
                                    }
                                    else
                                    {
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Reminder</th>
                                                    <th>Due Date</th>
                                                    <th>Days till due</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var reminder in ViewBag.reminders)
                                                {
                                                    <tr>
                                                        <td>@reminder.Reminder</td>
                                                        <td>@reminder.DueDate</td>
                                                        <td>
                                                                                                
                                                                @(ViewBag.DaysTillDue = (reminder.DueDate - ViewBag.Today).TotalDays)
                                                            @if (ViewBag.DaysTillDue > 100)
                                                            {
                                                                <span class="pull-right-container">
                                                                    <span class="label pull-right bg-green">@ViewBag.DayTillDue <i class="fa fa-thumbs-o-up"></i></span>
                                                                </span>
                                                            }
                                                            else if (ViewBag.DaysTillDue < 100 && ViewBag.DaysTillDue > 50)
                                                            {
                                                                <span class="pull-right-container">
                                                                    <span class="label pull-right bg-yellow">@ViewBag.DayTillDue <i class="fa fa-calendar-times-o"></i></span>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="pull-right-container">
                                                                    <span class="label pull-right bg-red">@ViewBag.DayTillDue <i class="fa fa-warning"></i></span>
                                                                </span>
                                                            }
                                    
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="form-group">
                                <div class="input-group">
                                    @Html.Editor("DueDate", new { htmlAttributes = new { @class = "form-control datepicker", id="dueDate", PlaceHolder = "Reminder Due Date"} })
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Reminder">Reminder</label>
                                @Html.TextArea("Reminder", new {@class = "form-control", id = "reminder", @Rows = 4, PlaceHolder = "Add a reminder to the Trial"})
                            </div>
                            <button id="AddReminder" type="button" class="btn btn-default btn-block">Add Reminder to this Trial</button>

                        </div>
                        <!-- box-footer -->
                    </div>
                </div>


            </div>
        </section>
    </div>

</body>
</html>

@section scripts
{
    <script>
        var times = 0;
        var inp;
        var fieldName;
        var original;
        var type;
        var aClass;
        var Id = @ViewBag.Id;
        $(".input-group-addon").click(function() {
            times++;
            if (times >= 2) {
                if (!$('#reason').val()) {
                    $('#message').text('Please enter a reason for this change.');
                } else {
                    $(this).html('<a id="saveChange" href="#"><i class="fa fa-edit"></i></a>');
                    $('#' + fieldName).prop("disabled", true);
                    times = 0;
                    var postData = {
                        Original: original,
                        FieldName: fieldName,
                        NewValue: inp.val(),
                        Reason: $('#reason').val(),
                        Id: Id
                    }
                    $.ajax({
                        type: 'POST',
                        url: '/TrialFeasibility/AjaxEdit',
                        data: postData,
                        success: function(data) {
                            $("#tab7").html(data);
                        }
                    });
                    $('#newDiv').remove();
                    $('#message').remove();
                }
            } else {
                inp = $(this).parent().find(":input");
                original = inp.val();
                fieldName = $(inp).attr("name");
                $('#' + fieldName).prop("disabled", false);
                $(this).html('<a id="saveChange" href="#"><i class="fa fa-floppy-o"></i></a>');
                var pDiv = $(this).parent().closest('div');
                $(pDiv)
                    .after($('<div id="newDiv" style="padding-top:17px;"><textarea id="reason" class="form-control textarea" placeholder="Enter the reason why the change is necessary"></textarea></div><div id="message"></div>'));

            }

        });

        $.ajax({
            url: '@Url.Action("ListAddedRecords", "TrialFeasibility", new {Id = ViewBag.Id}) ',
            datatype: "json",
            type: "post",
            contenttype: 'application/json; charset=utf-8',
            async: true,
            success: function(data) {
                $("#tab7").html(data);
            }
        });

        $("#AddContact").click(function() {
            var postData = {
                ContactId: $('#ContactSel').val(),
                RoleId: $('#RoleSel').val(),
                TrialId: @ViewBag.Id }
            $.ajax({
                url: '/TrialFeasibility/ListContacts',
                type: 'POST',
                data: postData,
                success: function(data) {
                    $("#ListOfContacts").html(data);
                }
            });
        });

        $("#AddNotification").click(function() {
            var postData = {
                Who: '@ViewBag.User',
                Message: $('#message').val(),
                TrialId: @ViewBag.Id }
            $.ajax({
                url: '/TrialFeasibility/ListNotes',
                type: 'POST',
                data: postData,
                success: function(data) {
                    $("#ListOfNotes").html(data);
                    $('#message').val("");
                }
            });
        });
        $("#AddReminder").click(function() {
            var postData = {
                Reminder: $('#reminder').val(),
                DueDate: $('#dueDate').val(),
                TrialId: @ViewBag.Id }
            $.ajax({
                url: '/TrialFeasibility/ListReminders',
                type: 'POST',
                data: postData,
                success: function(data) {
                    $("#ListOfReminders").html(data);
                    $('#reminder').val("");
                    $('dueDate').val("");
                }
            });
        });

        $("#saveTrial").click(function() {
            alert($("input[name='StartedTrial']:checked").val());
            var postData = {
                Started: $("input[name='StartedTrial']:checked").val(),
                Reason: $('#Reason').val(),
                TrialId: @ViewBag.Id }
            $.ajax({
                url: '/TrialFeasibility/AddProgress',
                type: 'POST',
                data: postData,
                success: function(data) {
                    $("#Progress").html(data);
                }
            });
        });

        $(document).ready(function () {
            $('#listDocs').DataTable();
            $('#contacts').DataTable();
            $('#notifications').DataTable();
            
        });
    </script>
}