@model Trialmanager.Models.TrialSetupModels

                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Setup</h3>
                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                            <span class="label label-default">Editing Setup...</span>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                        @using (Html.BeginForm("Edit", "TrialSetup", new {id = ViewBag.setupId}, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-horizontal">
                                <h4>TrialSetupModels</h4>
                                <hr/>
                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                @Html.HiddenFor(model => model.Id)
                                
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.ProjectIdentifier, new { htmlAttributes = new { @class = "form-control", title = "Project Identifier", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ProjectIdentifier, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.ResearchDevelopmentId, new { htmlAttributes = new { @class = "form-control", title = "R&D Identifier", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ResearchDevelopmentId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.GrantFunderRef, new {htmlAttributes = new {@class = "form-control", title="Grant funder reference", disabled = "disabled"}})
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.GrantFunderRef, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.SponsorRef, new {htmlAttributes = new {@class = "form-control", Title = "Sponsor Reference", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.SponsorRef, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.RecRef, new {htmlAttributes = new {@class = "form-control", Title = "REC Reference", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RecRef, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.EudractRef, new {htmlAttributes = new {@class = "form-control", Title = "EUDract Reference", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.EudractRef, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.IrasId, new {htmlAttributes = new {@class = "form-control", Title="IRAS Id", disabled="disabled"}})
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.IrasId, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.RecruitmentTarget, new { htmlAttributes = new { @class = "form-control", Title = "Recruitment target", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RecruitmentTarget, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.Label("Location", htmlAttributes: new {@class = "control-label col-md-12"})
                                    <div class="input-group">
                                        @Html.DropDownList("TrialLocationId", null, htmlAttributes: new {@class = "form-control", Title = "Trial Location", disabled = "disabled" })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.TrialLocationId, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.RecDate, new {htmlAttributes = new {@class = "form-control", Title = "REC Date", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RecDate, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.HraDate, new {htmlAttributes = new {@class = "form-control", Title = "HRA Date", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.HraDate, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.CtaDate, new {htmlAttributes = new {@class = "form-control", Title = "CTA Date", disabled = "disabled" } })
                                        <div class="input-group-addon">
                                            <a href="#">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CtaDate, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <input type="hidden" name="TrialId" value="@ViewBag.Id"/>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="submit" value="Save" class="btn btn-default btn-block"/>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                        <!-- /.box-body -->
                        </div>
                </div>
                <!-- /.box -->
                   