@using System.Web.UI.WebControls
@model Trialmanager.Models.TrialSetupModels
<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Create Trial Setup</h3>
        <div class="box-tools pull-right">
            <!-- Buttons, labels, and many other things can be placed here! -->
            <!-- Here is a label for example -->
            <span class="label label-default">New Setup...</span>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="col-md-12">
        @using (Html.BeginForm("Create", "TrialSetup", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>TrialSetupModels</h4>
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ProjectIdentifier, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Project identifier" } })
                        @Html.ValidationMessageFor(model => model.ProjectIdentifier, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.ResearchDevelopmentId, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "R&D Identifier" } })
                        @Html.ValidationMessageFor(model => model.ResearchDevelopmentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.GrantFunderRef, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Grant Funder Reference"}})
                        @Html.ValidationMessageFor(model => model.GrantFunderRef, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SponsorRef, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Sponsor Reference"}})
                        @Html.ValidationMessageFor(model => model.SponsorRef, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.RecRef, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "REC Reference"}})
                        @Html.ValidationMessageFor(model => model.RecRef, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.EudractRef, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Eudract Reference"}})
                        @Html.ValidationMessageFor(model => model.EudractRef, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.IrasId, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "IRAS Id"}})
                        @Html.ValidationMessageFor(model => model.IrasId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.RecruitmentTarget, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "Recruitment Target"}})
                        @Html.ValidationMessageFor(model => model.RecruitmentTarget, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.DropDownList("TrialLocationId", null, htmlAttributes: new {@class = "form-control", PlaceHolder = "Trial Location Id"})
                        @Html.ValidationMessageFor(model => model.TrialLocationId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.RecDate, new {htmlAttributes = new {@class = "form-control datepicker", PlaceHolder = "REC Date"}})
                        @Html.ValidationMessageFor(model => model.RecDate, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.HraDate, new {htmlAttributes = new {@class = "form-control datepicker", PlaceHolder = "HRA Date"}})
                        @Html.ValidationMessageFor(model => model.HraDate, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.CtaDate, new {htmlAttributes = new {@class = "form-control datepicker", PlaceHolder = "CTA Date"}})
                        @Html.ValidationMessageFor(model => model.CtaDate, "", new {@class = "text-danger"})
                    </div>
                </div>
                <input type="hidden" name="TrialId" value="@ViewBag.Id"/>

                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="New Trial Setup" class="btn btn-default btn-block"/>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <!--Use this to keep the data last typed in a cookie so that it can be saved properly later-->
        <p>Save what you have typed in a cookie if you are distracted!</p>
        <a class="btn btn-app"><i class="fa fa-save"></i>Keep</a> <a class="btn btn-app"><i class="fa fa-exclamation"></i>Clear</a> <a class="btn btn-app"><i class="fa fa-close"></i>Delete</a>
    </div>
    <!-- box-footer -->
</div>
<!-- /.box -->