@model Trialmanager.Models.ContactsModels

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>@ViewBag.Small</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-dashboard"></i>@ViewBag.link</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-solid box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add a New Trial</h3>
                        <div class="box-tools pull-right">
                            <!-- Buttons, labels, and many other things can be placed here! -->
                            <!-- Here is a label for example -->
                            <span class="label label-default">Creating New Trial...</span>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div>
                            <h4>ContactsModels</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactStatusName.ContactStatusName)
                                </dt>
    
                                <dd>
                                    @Html.DisplayFor(model => model.ContactStatusName.ContactStatusName)
                                </dd>
    
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactName)
                                </dt>
    
                                <dd>
                                    @Html.DisplayFor(model => model.ContactName)
                                </dd>
    
                                <dt>
                                    @Html.DisplayNameFor(model => model.Organisation)
                                </dt>
    
                                <dd>
                                    @Html.DisplayFor(model => model.Organisation)
                                </dd>
    
                                <dt>
                                    @Html.DisplayNameFor(model => model.Telephone)
                                </dt>
    
                                <dd>
                                    @Html.DisplayFor(model => model.Telephone)
                                </dd>
    
                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
    
                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
    
                                <dt>
                                    @Html.DisplayNameFor(model => model.ContactNotes)
                                </dt>
    
                                <dd>
                                    @Html.DisplayFor(model => model.ContactNotes)
                                </dd>
    
                            </dl>
                        </div>
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                            @Html.ActionLink("Back to List", "Index")
                        </p>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <!--Use this to keep the data last typed in a cookie so that it can be saved properly later-->
                        <p>Save what you have typed in a cookie if you are distracted!</p>
                        <a class="btn btn-app"><i class="fa fa-save"></i>Keep</a> <a class="btn btn-app"><i class="fa fa-exclamation"></i>Clear</a> <a class="btn btn-app"><i class="fa fa-close"></i>Delete</a>
                    </div>
                    <!-- box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
</div>
</body>
</html>
