@{
    ViewBag.Title = "About";
    ViewBag.Small = "All the things you need to know about us.";
    ViewBag.link = "Dashboard";
}
 <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>@ViewBag.Small</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> @ViewBag.link</a></li>
            <li class="active">@ViewBag.Title</li>
        </ol>
    </section>
    <section class="content container-fluid">
    <div class="row">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </div>
    </section>
</div>
