@model Trialmanager.Models.TrialRecordsModels

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>TrialRecordsModels</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ShortName.ShortName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ShortName.ShortName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateTime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WhoChanged)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WhoChanged)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OriginalValue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OriginalValue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NewValue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NewValue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FieldName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FieldName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ReasonForChange)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ReasonForChange)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
